@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #000F08;
    --secondary-color: #075D66;
    --accent1-color: #E0CA3C;
    --accent2-color: #050730;

    --heading-font: "Roboto", Roboto;
    --paragraph-font: "Roboto", Roboto;

    --nav-background-color: #fff;
    --nav-link-color: #075D66;
    --nav-hover-link-color: #05393f;
    --nav-hover-background-color: #ede6e6;

    width: 50%;
    margin-left: 50px;
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent2-color)
}

p {
    font-family: var(--paragraph-font);
}

.hero {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.hero p {
    font-family: var(--paragraph-font);
    padding: 3%;
}

.hero h1 {
    position: absolute;
    background-color: rgba(255, 235, 82, 0.5);
    padding: 1%;
    margin-top: -27%;
    margin-left: 23%;
}

.hero article {
    position: absolute;
    background-color: rgba(255, 235, 82, 0.5);
    margin-top: -17%;
    margin-left: 1%;
    margin-right: 1%;
}

#happy {
    width: 50px;
}

.hero article img {
    float: right;
    margin: 3%;
}

footer img {
    width: 25px;
    padding: 1%
}

footer div img {
    border:0;
    width:88px;
    height:31px;
}

a {
    text-decoration: none;
}

a:link {    
    font-family: var(--paragraph-font);
    color: var(--primary-color)
}

a:visited {
    font-family: var(--paragraph-font);
    color: var(--primary-color)
}

a:hover {
    font-family: var(--paragraph-font);
    color: var(--primary-color)
}

a:active {
    font-family: var(--paragraph-font);
    color: var(--primary-color)
}