@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #d9dbfe;
    --secondary-color: #085159;
    --accent1-color: #E0CA3C;
    --accent2-color: #050730;

    --heading-font: "Roboto", Roboto;
    --paragraph-font: "Roboto", Roboto;

    --nav-background-color: #fff;
    --nav-link-color: #075D66;
    --nav-hover-link-color: #05393f;
    --nav-hover-background-color: #ede6e6;

    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent2-color)
}

p {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
}

.hero {
    display: block;
    height: auto;
    text-align: center;
    position: relative;
}

.hero p {
    font-family: var(--paragraph-font);
    padding: 3%;
    font-weight: 700;
    color: var(--accent2-color);
}

.hero h1 {
    position: absolute;
    background-color: rgba(6, 6, 6, 0.5);
    color: var(--nav-background-color);
    top: 20%;
    width: 100%;
    margin-top: -13px; 
    text-align: center;
}

.hero article {
    position: absolute;
    background-color: rgba(255, 235, 82, 0.5);    
    top: 40%;
    width: 80%;
    margin-left: 10%;
    margin-top: -13px; 
    text-align: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

#happy {
    width: 180px;
}

.hero article img {
    float: right;
    margin: 3%;
}

/* a {
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

a:link {    
    font-family: var(--paragraph-font);
    color: var(--primary-color)
}

a:visited {
    font-family: var(--paragraph-font);
    color: var(--primary-color)
}

a:hover {
    text-decoration: none;
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    background-color: #f0f0f0;
    border-radius: 5px;
}

a:active {
    font-family: var(--paragraph-font);
    color: var(--primary-color)
} */

header {
	display: grid;    
    align-items: center;    
    padding: 10px;
    background-color: var(--primary-color);
}

.logo{
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--heading-font);
    color: var(--secondary-color);
    display: grid;
    width: 80%;
}

.logo img{
	margin: 0 0.25rem 0 0.50rem;
	width: 150px;
	height: auto;
}

nav {
	text-align: right;
    font-size: 1.5rem;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: var(--accent2-color);
	padding: 20px;
	text-decoration: none;
    font-weight: bold;
}

.navigation a:hover {
	color: var(--nav-hover-link-color);
	font-weight: 700;
	text-decoration: none;
    font-family: var(--paragraph-font);
    background-color: #f0f0f0;
    border-radius: 5px;
    
}

section {
    padding-top: 2%;
    display: grid;
    justify-items: center;
    width: 100%;
   }

.history { 
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.history p{ 
    padding: 15px;
}

.history img{ 
    padding: 20px;
    width: 300px;
}

.adventure { 
    width: 100%;
    background-color: rgba(255, 235, 82, 0.5);
    display: flex;
    justify-content: space-around;
}

.adventure img{ 
    max-width: 150px;
}

.adventure figure {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    padding: 5px;
    color: var(--nav-hover-link-color);
    font-family: var(--paragraph-font);   
    font-weight: 700; 
}

footer{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
    background-color: var(--primary-color);
}

footer p{
    color: var(--nav-hover-link-color);
}

footer img {
    border:0;
    width:30px;
    padding: 5px;
}

.sociallinks {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.map { 
    width: 100%;
    height: 355px;
    display: flex;
    align-content: space-around;
    align-items: center;
    text-align: center;
}

.map1 { 
    width: 35%;
}

.map2 { 
    width: 65%;
}

.map2 iframe{ 
    width: 100%; 
    height: 350px;  
    border: 0;

}

.meet {
    background-color: rgba(255, 235, 82, 0.5);
}

.team { 
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.team img{ 
    max-width: 250px;
}

.team figure {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    padding: 5px;
    color: var(--nav-hover-link-color);
    font-family: var(--paragraph-font);   
    font-weight: 700; 
    text-align: center;
}

.user_form {
    width: 100%;
    display: grid;
    justify-items: center;
}

form {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 1em;
    background-color: #edf2ef;
    border-radius: 10px;
    border: 1px #010c07;

    /* grid */
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
}

.text_input {
    border-radius: 5px;
}

.rad {
    padding-left: 20px;
}

legend {
    font-size: 1.3em;
    font-family: Playfair Display;
    color: black;
}

button {
    color: white;
    background-color: #3c6e71;
    width: fit-content;
    padding: 10px;
    justify-self: center;
    border-radius: 5px;
}

 /* Trip ----------------------------------------------------------------------- */

.trip{
    font-family: var(--heading-font);
    color: var(--secondary-color);
    width: 90%;
    display: grid;
    justify-items: center;
    margin-left: 5%;
}

.trip-list {
    background-color: white;
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  
  .trip-item {
    border: 10px;
    background-color: var(--nav-hover-background-color);
    width: 30%;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 5px;
    position: relative;
  }

  @media (max-width: 800px) {
    .trip-item {
      width: 100%; /* Two columns per row on smaller screens */
    }
  }

  @media (max-width: 768px) {
    .trip-item {
      width: 100%; /* Two columns per row on smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .trip-item {
      width: 100%; /* One column per row on smallest screens */
    }
  }

  .trip-item a{
    color: var(--nav-hover-link-color);
  }

  .trip-item h2 {
    color: white; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    margin: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  .trip-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.5s ease;
    margin-bottom: 10px;
  }

  .trip-item img:hover {
    transform: scale(1.08); 
    filter: brightness(1.2);
  }
  
  .trip-item h2 {
    margin-top: 0;
  }
  
  .trip-item p {
    margin-bottom: 10px;
  }

  /* Index ----------------------------------------------------------------------- */

  main img:hover {
    transform: scale(1.08); 
    filter: brightness(1.2);
  }

  .heroindex {
    position: relative;
    text-align: center;
    color: white;
}

.heroindex img {
    width: 100%;
    height: auto;
}

.heroindex h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.newsletter, .cta {
    text-align: center;
    margin: 20px 0;
}

.formindex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formindex label {
    margin: 5px 0;
}

.formindex input {
    margin: 5px 0;
    padding: 10px;
    width: 80%;
    max-width: 300px;
}

.button {
    display: inline-block;
    font-family: var(--paragraph-font);
    text-decoration: solid;
    padding: 10px 20px;
    background-color: var(--nav-hover-link-color);
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
}

.button:hover {
    text-decoration: none;    
    border-radius: 5px;
    background-color: var(--nav-link-color);
}

.button:visited {
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    text-align: center;
}

.grid-item img {
    width: 100%;
    height: auto;
}